# Ignore all files by default
*

# Allow these files
!.gitignore
!README.md

# YYYY-MM-DD-HHmm-<topic>.md naming convention
!????-??-??-????-*.md

# version-baseline-template.md / version-baseline-YYYY-MM-DD.md
!version-baseline-*.md

# YYYY-MM-DD-HHmm-<topic>/ naming convention
!????-??-??-????-*/
!????-??-??-????-*/**
